{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
         <div class="col-xs-6 col-lg-8">
 <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
    <input type="submit" value="Отправить" />
        </div>
</form>
             </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
          <div class="list-group">
              {% for order, name in order_type %}
                <a href=""
                        class="list-group-item ">
                    {{ name }}
                </a>
              {% endfor %}
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
{% endblock %}

 {% block scripts %}
        <script type="text/javascript">

</script>
{% endblock %}