{% extends "base.html" %}

{% block content %}

<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron" data-toggle="collapse">
            <h1>Welcome to us!</h1>
            <p>This is the service where you can make an order in every restaurant or cafe in you city. Please choose what you like.</p>
        </div>
            <div class="row">
                {% for establishment in establishment_list %}
                    <div class="col-6 col-sm-6 col-lg-4">
                        <h2>{{ establishment.name }}</h2>
                        <p>{{ establishment }}</p>
                        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                    </div><!--/span-->
                {% endfor %}
                
            </div><!--/row-->
        </div><!--/span-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <div class="list-group">
                {% for city in city_list %}
                    <a href="#" class="list-group-item">{{ city }}</a>
                {% endfor %}
            </div>
        </div><!--/span-->
    </div><!--/row-->
</div><!--/global row-->

{% endblock %}