{% extends "base.html" %}
{% load static %}

{% block content %}

 {% if forms.errors %}
    <p class="error">Sorry, that's not a valid username or password</p>
    {% endif %}
<div class="row">
    {% if state == 1 %}
    <div class="alert alert-danger">Неверный логин/пароль</div>
    {% endif %}
</div>
<div class="container">
    <div class="col-md-4">
      <form action="{% url 'after_login' %}" method="post">
          {% csrf_token %}
        <h2 class="form-signin-heading">Пожалуйста, авторизуйтесь</h2>
        <p><input type="text" placeholder="Логин" name="username" id="username" required autofocus></p>
        <p><input type="password" placeholder="Пароль" name="password"  id="password" required></p>
          <div class="col-md-2"></div>
           <div class="col-md-4">
            <p><button class="btn btn-xs btn-default btn-block" type="submit">Sign in</button></p>
           </div>
      </form>
    </div>
</div> <!-- /container -->

{% endblock %}
