{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <h1>{{employees.establishment}}</h1>

    <div class="col-xs-9 col-sm-8 sidebar-offcanvas" >
          <div class="list-group">
              {% for order in order_list %}
              <form method="post">
                <p >{{ order.id }} {{order.contact_account }} {{ order.get_type_display }} {{ order.get_state_display }}
                {{ order.client_phone }} {{ order.execute_datetime }}</p>
               <p>
                  <a class="btn btn-default" name="accept" id="accept"  onclick="accept_order({{ order.id }})" role="button">Принять</a>
              </p>
              </form>


              {% endfor %}
          </div>


</div>
</div>


{% endblock %}

 {% block scripts %}
<script type="text/javascript">
function accept_order(order_id) {
            $.get("{% url 'accept_order' %}", {"id" : order_id}, function(data) {
               // acc_state(order_id);
                alert('Employee.acc_order вызван');

            });
        }
</script>
{% endblock %}
