{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>{{employees.establishment}}</h1>
<div class="col-xs-11" >
    {% for order in order_list %}
              <form  class="panel" method="post" style="border-color:#eeeeee">
                  <div class="panel-body" style="background:#f1f1f1">
                  <div class="col-xs-10" >
                      <p></p>
                      <p>Номер заказа: {{ order.id }}</p>
                      <p>Тип заказа: {{ order.get_type_display }} </p>
                      <p>Статус заказа: <strong>{{ order.get_state_display }}</strong></p>
                      <p>Контактный номер клиента: {{ order.client_phone }}</p>
                      <p>Дата исполнения заказа: {{ order.execute_date }} {{ order.execute_time }}</p>
                  </div>
                 <div class="col-xs-2">
                     <p></p>
                  <p><a class="btn btn-default" name="accept" id="id_accept"  onclick="accept_order({{ order.id }})" role="button" style="width:100%;background-color: #C9F4BE;">Принять</a>
                   <p></p><a class="btn btn-default" name="decline" id="id_decline"  onclick="decline_order({{ order.id }})" role="button" style="width:100%;background-color: #F4C9BE">Отменить</a></p>
                  </div></div>
              </form>
              {% endfor %}
</div></div>

{% endblock %}

 {% block scripts %}
<script type="text/javascript">
function accept_order(order_id) {
            $.get("{% url 'accept_order' %}", {"id" : order_id}, function(data) {
               // acc_state(order_id);
                alert('Employee.acc_order вызван');
            });
        }
</script>
{% endblock %}
